*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.div2{
  width: 400px;
  height: 300px;
  /* border: 1px solid green; */
  margin: 5px;
  padding: 5px;
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: center;
  text-align: center;
}
.form{
  position: relative;
  /* top: 10px; */
  /* left: 20px; */

}
.icon{
    position: absolute;
    right: -45px;
    top: 10px;
    border: #111827;
}

.icon2{
  color: #8BB7F0;
}